.leftlogo{
    width: 180px;
}
.center-div{
    /* border:1px solid rgb(177, 177, 177); */
    box-shadow: 5px 2px  5px 4px rgb(203, 203, 203);
    margin-top: calc(0.06*100%);
}
.center-div2{
    /* border:1px solid rgb(177, 177, 177); */
    box-shadow: 5px 2px  5px 4px rgb(203, 203, 203);
    /* margin-top: calc(0.06*100%); */
}
.w-text{
    margin-top: calc(0.05*100%);
    /* opacity: 1; */
    color: rgb(101, 101, 101);
    font-family: 'Playfair Display', serif;
    font-size: 0.5rem;
}
.downicon{
    height:25px;
    margin-left: 2%;
}
.mt-11{
    /* margin-top: -50px; */
}
a{
    color: inherit;
}
.light-text{
    color: rgb(156, 156, 156);
    font-size: 1em;
        font-family: 'Playfair Display', serif;
}
.phone{
    height: 25px;
}
.inppt{
    border-radius: 8px;
    border:1px solid wheat;

    width:calc(0.25*100vw);
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin-top: 30px;
    padding-left: 20px;
    /* color: whitesmoke; */
    padding-top: 8px;
    padding-bottom: 10px;
}
::placeholder {
    color: rgb(186, 186, 186);
    opacity: 1;
}
.btnlog{
    margin-top: 25px;
    font-size: 1.5rem;
    border-radius: 35px;
    padding: 8px 75px;
    font-family: 'Playfair Display', serif;
    
}
.btn3{
border-radius: 8px;
    border: 1px solid wheat;

    width: calc(0.25*100vw);
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin-top: 30px;
    padding-left: 20px;
    /* color: whitesmoke; */
    background-color: white;
    color: black;
    padding-top: 8px;
    padding-bottom: 10px;
}
.btn22{
    margin-top: 25px;
    font-size: 1.5rem;
    border-radius: 35px;
    padding: 8px 40px;
    font-family: 'Playfair Display', serif;
    
}
body{
    overflow-x: hidden;
}